{% extends 'base.html' %}
{% load static from staticfiles %}
{% load url from future %}
{% load i18n %}

{% block title %}Autenticación{% endblock %}

{% block content %}
{{ block.super }}
<section id="estacionesContent" class="container">
            <div class="eight columns">
            	{{ block.super }}
            	<h3>Iniciar Sesión</h3>
				<p>Intruduzca sus datos de autenticación</p>
				<div class="panel">
				<form action="" method="post">{% csrf_token %}
				    {{ form.as_p }}
				    <p><input class="nice radius button" type="submit" value="Entrar"></p>
				</form>
				</div>
			</div>			
</section>
{% endblock %}