{% extends 'base.html' %}
{% load static from staticfiles %}
{% load url from future %}
{% load i18n %}

{% block title %}Registro de usuario{% endblock %}

{% block content %}
{{ block.super }}
<section id="estacionesContent" class="container">
            <div class="seven columns">
            	<h3>Registrarse</h3>
				<p>Por favor introduzca los datos siguientes para completar su registro</p>
				<div class="panel">
				<form action="" method="post">{% csrf_token %}
				    {{ form.as_p }}
				    {{ supplement_form.as_p }}
				    <p><input type="submit" class="nice radius button" value="Registrarme"></p>
				</form>
				</div>
			</div>
</section>
{% endblock %}
