<div ng-controller="PaquetePublicidadListController">
	<h5 ng-show="paquetes">Paquetes de publicidad</h5>
	<table class="" ng-show="paquetes">
        <tr>            
            <th>Emisión</th>
            <th>Horario</th>
            <th>Programa</th>
            <th>Precio</th>
            <th>Cantidad</th>
            <th>Subtotal</th>
            <th></th>
        </tr>
        <tr ng:repeat="paquete in paquetes">
            <td>{{ paquete.emision }}</td>           
            <td>{{ paquete.horario }}</td>
            <td>{{ paquete.programa }}</td>
            <td>{{ paquete.precio | currency }}</td>
            <td><input type="number" ng:model="paquete.cantidad" ng:required integer min="0"></td>
            <td>{{paquete.cantidad * paquete.precio | currency}}</td>            
            <td>
                <button ng:click="resetRequest($index)" ng-disabled="emptyRequest($index)">Cancelar pedido</button>
            </td>
        </tr>
        <tr>
        	<td></td>
        	<td></td>
            <td></td>
            <td></td>
            <td>Total:</td>
            <td>{{total() | currency}}</td>
            <td></td>
        </tr>
    </table>
    <button ng:click="archiveOrder()" ng-show="paquetes">Ordenar</button>
</div>

<div ng-controller="HorarioRotativoListController">
	<h5 ng-show="horarios_rotativos">Cuñas de horario rotativo</h5>
	<table class="table" ng-show="horarios_rotativos">
        <tr>         
        	<th>Nombre</th>   
            <th>Precio Regional</th>
            <th>Precio Nacional</th>
            <th>Cantidad</th>
            <th>Subtotal (regional)</th>
            <th>Subtotal (nacional)</th>
            <th></th>
        </tr>
        <tr ng:repeat="horario_rotativo in horarios_rotativos">
        	<td>{{ horario_rotativo.nombre }}</td>
            <td>{{ horario_rotativo.precio_regional | currency }}</td>           
            <td>{{ horario_rotativo.precio_nacional | currency }}</td>
            <td><input type="number" ng:model="horario_rotativo.cantidad" ng:required integer min="0"></td>
            <td>
            	Sin IVA: {{horario_rotativo.cantidad * horario_rotativo.precio_regional | currency}}</br>
            	Con IVA: {{horario_rotativo.cantidad * horario_rotativo.precio_regional + (horario_rotativo.cantidad * horario_rotativo.precio_regional * 12 / 100) | currency}}
            </td>
            <td>
            	Sin IVA: {{horario_rotativo.cantidad * horario_rotativo.precio_nacional | currency}}</br>
            	Con IVA: {{horario_rotativo.cantidad * horario_rotativo.precio_nacional + (horario_rotativo.cantidad * horario_rotativo.precio_nacional * 12 / 100) | currency}}
            
            </td>            
            <td>
                <button class="alert button small" ng:click="resetRequest($index)" ng-disabled="emptyRequest($index)">Cancelar Pedido</button>
            </td>
        </tr>
        <tr>
        	<td></td>
        	<td></td>
            <td></td>
            <td></td>
            <td>Total regional: {{total()[0] | currency}}</td>
            <td>Total nacional: {{total()[1] | currency}}</td>
            <td></td>
        </tr>
    </table>
    <button class="alert button" ng:click="archiveOrder()" ng-show="horarios_rotativos">Pautar</button>
</div>

