<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
    {% load static from staticfiles %}
    {% load url from future %}
    {% block meta %}
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="description" content="Plataforma de anuncios en radios del Ecuador">
        <meta name="viewport" content="width=device-width">
    {% endblock meta %}

  
    {% block styles %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/foundation.css' %}" media="screen" />
        
    {% endblock %}

    {% block head-scripts %}
        <script src="{% static 'website/js/modernizr-2.5.3.min.js' %}"></script>
        <script src="{% static 'js/jquery-1.6.1.min.js' %}"></script>
    {% endblock %}

    {% block head %}
    {% endblock %}  
</head>
<body 
                {% if object_list %}
                <h2>Listado de órdenes</h2>
                <ul>
                    {% for orden in object_list %}
                            <li>
                                {% if orden.cliente.pk == request.user.pk %}
                                    <p>Total (incluido IVA): ${{ orden.total_incl_iva|floatformat:2 }}</p>
                                    <p>Estado: {{ orden.estado }}</p>
                                    <p>Producto: {{ orden.producto }}</p>
                                    <p>Cantidad: {{ orden.cantidad }}</p>                   
                                    <p>Fecha: {{ orden.fecha_creada }}</p>                  
                                {% endif %}
                            </li>
                            <p>-----</p>
                    {% endfor %}
                </ul>
                
                {% if is_paginated %}
                    <div class="pagination">
                        <span class="page-links">
                            {% if page_obj.has_previous %}
                                <a href="/ordenes?page={{ page_obj.previous_page_number }}">Anterior</a>
                            {% endif %}
                            <span class="page-current">
                                Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}.
                            </span>
                            {% if page_obj.has_next %}
                                <a href="/ordenes?page={{ page_obj.next_page_number }}">Siguiente</a>
                            {% endif %}
                        </span>
                    </div>
                {% endif %}
                {% else %}
                    <p> No se han registrado órdenes. </p>
                {% endif %}
</body>