{% extends 'base.html' %}
{% load static from staticfiles %}
{% block title %}Agregar paquete publicitario{% endblock %}

	{% block head-scripts %}
		<script src="{% static 'js/jquery.timepicker.min.js' %}"></script>
		<script src="{% static 'js/ui.js' %}"></script>
		<link media="screen" href="{% static 'css/jquery.timepicker.css' %}" type="text/css" rel="stylesheet">
		<link media="screen" href="{% static 'css/ui.css' %}" type="text/css" rel="stylesheet">
		<script src="{% static 'js/jquery.formset.js' %}"></script>
		<script type="text/javascript">
		$(function() {
			
		    $('.form-row.inline2.{{ horarios_formset.prefix }}').formset({
		        prefix: '{{ horarios_formset.prefix }}',
		        dynamicFormClass: 'dynamic-formset2-form',
		        addText: 'Agregar Fecha de Pauta', 
		        'added': function(row){
		            //find the fields with the calendar widget
		            $(row).find('.dtField')
		                .attr("id", "")
		                .removeClass('hasDatepicker')
		                .removeData('datepicker')
		                .unbind()
		                .datepicker(
		           			 {
		     		            closeText: 'Cerrar',
		     		            prevText: '<Ant',
		     		            nextText: 'Sig>',
		     		            currentText: 'Hoy',
		     		            monthNames: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
		     		            monthNamesShort: ['Ene','Feb','Mar','Abr', 'May','Jun','Jul','Ago','Sep', 'Oct','Nov','Dic'],
		     		            dayNames: ['Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado'],
		     		            dayNamesShort: ['Dom','Lun','Mar','Mié','Juv','Vie','Sáb'],
		     		            dayNamesMin: ['Do','Lu','Ma','Mi','Ju','Vi','Sá'],
		     		            weekHeader: 'Sm',
		     		            dateFormat: 'dd/mm/yy',
		     		            firstDay: 1,
		     		            isRTL: false,
		     		            showMonthAfterYear: false,
		     		            yearSuffix: ''
		     		        });
		         }
		    });
		    
		    $('.form-row.inline.{{ audios_formset.prefix }}').formset({
		        prefix: '{{ audios_formset.prefix }}',
		        dynamicFormClass: 'dynamic-formset1-form'
		    });

		})
		</script>
		
	{% endblock %}
	
{% block content %}
            <div id="estacionesContent" class="twelve columns">
            		<h3>Agregar Orden</h3>
            		<p>Llene los datos con sus archivos de audio y parrilla de Programación</p>
            		<p>No olvide dejar comentarios con las instrucciones para publicitar su Orden.</p>            		
            		
                    <form method="post" action="/ordenes/paquetes/agregar/" enctype="multipart/form-data">
                    	<div class="row">
	                        {{ form.errors }}
	                        
	                        <div class="four columns custom">
	                        	<h6>Pautar En</h6>
	                        	{{ form.pautar_en }}
	                        </div>
	                        
	                        <div class="four columns">
	                        	<h6>Horario</h6>
	                        	{{ form.hora_inicial.label }}
	                        	{{ form.hora_inicial }}
	                        	
	                        	{{ form.hora_fin.label }}
	                        	{{ form.hora_fin }}
	                        </div>
	                        
	                        <div class="four columns">
	                        	<h6>Tanda</h6>
	                        	{{ form.posicion_tanda.label }}
	                        	{{ form.posicion_tanda }}
	                        </div>
	                        
	                        <div class="twelve columns">
	                        	<h6>Escoger fechas al Aire:</h6>
	                        	<fieldset class="formset">
							        {{ horarios_formset.management_form }}
							        {% for form in horarios_formset %}
							        {{ form.id }}
							        <ul class="form-row inline2 {{ horarios_formset.prefix }}">
									    <li class="five columns">
									      <div class="row collapse">
									        <div class="twelve columns">
										        {{ form.fecha.label_tag }}
									            {{ form.fecha }}
									            {{ form.fecha.errors }}
									        </div>
									      </div>
									    </li>
									    <li class="five columns">
									      <div class="row collapse">
									        <div class="twelve columns">
											    {{ form.cantidad.label_tag }}
									            {{ form.cantidad }}
									            {{ form.cantidad.errors }}
									        </div>
									      </div>
									    </li>
									</ul>							            
							        {% endfor %}
							    </fieldset>
	                        </div>
	                        
	                        <div class="twelve columns">
	                        	<h6>Subir Audios:</h6>
	                        	<fieldset class="formset">
							        {{ audios_formset.management_form }}
							        {% for form in audios_formset %}
							        {{ form.id }}
							        <div class="form-row inline {{ audios_formset.prefix }}">
							            {{ form.file.label_tag }}
							            {{ form.file }}
							            {{ form.file.errors }}
							        </div>
							        {% endfor %}
							    </fieldset>
	                        </div>
	                        
	                        
	                        <div class="twelve columns">
		                        {{ form.observaciones.errors }}
		                        <label for="id_observaciones">Observaciones:</label>
		                        {{ form.observaciones }}
	                        </div>
	                                                                   
	                        <input type="hidden" name="duenno" value="{{ request.user.pk }}"/>
	                        <input type="hidden" name="product_object_cantidad" value="{{ request.GET.pdc }}"/>
	                        <input type="hidden" name="success_url" value="{{ request.GET.success_url }}"/>
	                        {% csrf_token %}   
	                  		
	                  		<div class="twelve columns">
	                        	<input class="radius alert button right" type="submit" value="Pautar Ahora!">
	                        </div>
                        </div>
                    </form>
        	</div>
  
{% endblock %}

	{% block js-scripts %}	
	<script type="text/javascript">
// 	var cal = new CalHeatMap();
// 	cal.init({
// 		data: "datas.json",
// 		domain: "month",
// 		subDomain : "day",	
// 		range: 9,
// 		browsing: true,
// 	});
	
	$('.vTimeField').timepicker({ 'timeFormat': 'H:i' });
	

	$('.dtField').datepicker(
			 {
		            closeText: 'Cerrar',
		            prevText: '<Ant',
		            nextText: 'Sig>',
		            currentText: 'Hoy',
		            monthNames: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
		            monthNamesShort: ['Ene','Feb','Mar','Abr', 'May','Jun','Jul','Ago','Sep', 'Oct','Nov','Dic'],
		            dayNames: ['Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado'],
		            dayNamesShort: ['Dom','Lun','Mar','Mié','Juv','Vie','Sáb'],
		            dayNamesMin: ['Do','Lu','Ma','Mi','Ju','Vi','Sá'],
		            weekHeader: 'Sm',
		            dateFormat: 'dd/mm/yy',
		            firstDay: 1,
		            isRTL: false,
		            showMonthAfterYear: false,
		            yearSuffix: ''
		        }
	);
	
	
	</script>

	{% endblock %}