{% extends 'base.html' %}
{% load static from staticfiles %}

{% block title %}Inicio{% endblock %}

{% block content %}
<section id="estacionesContent" class="buscar">
    <div class="container">
        <div class="row">
            <div class="eight columns">
            	<div>
            		{{ object.logotipo }}
					<p>Nombre: {{ object.nombre }}</p>
					<p>Descripción: {{ object.descripcion }}</p>
					<p>Nivel socioeconómico: {{ object.nivel_socioeconomico }}</p>
					<p>En promoción desde: {{ object.en_promocion_desde }}</p>					
					<p>Rango de edades: {{ object.nivel_edad_target }}</p>
					<p>Categorías:</p>
					<ul>
                        {% for categoria in object.categorias.all %}
                            <li>{{ categoria }}</li>
                        {% endfor %}
                    </ul>
                    <p>Regiones:</p>
                    <ul>
                       {% for cob_frec in object.cobertura_frecuencias.all %}
                            <li>{{ cob_frec.provincia.region }}</li>
          		       {% endfor %}
                    </ul>
				</div>
			</div>
		</div>
	</div>
</section>
{% endblock %}

