{% extends 'base.html' %}
{% load static from staticfiles %}
{% load comments %}
{% block title %}Inicio{% endblock %}

{% block content %}
<section id="estacionesContent" class="buscar">
    <div class="container">
        <div class="row">
            <div class="eight columns">
            	<div>
            		{{ object.logotipo|safe }}
					<p>Nombre: {{ object.nombre }}</p>
					<p>Descripción: {{ object.descripcion|safe }}</p>
					<p>Nivel socioeconómico: {{ object.nivel_socioeconomico }}</p>
					<p>En promoción desde: {{ object.en_promocion_desde }}</p>					
					<p>Rango de edades: {{ object.nivel_edad_target }}</p>
					<p>Categorías:</p>
					<ul>
                        {% for categoria in object.categorias.all %}
                            <li>{{ categoria }}</li>
                        {% endfor %}
                    </ul>
                    <p>Regiones:</p>
                    <ul>
                       {% for cob_frec in object.cobertura_frecuencias.all %}
                            <li>{{ cob_frec.provincia.region }}</li>
          		       {% endfor %}
                    </ul>
				</div>
                <div>
                    {% get_comment_count for object as comment_count %}.
                    <p>Esta estacion tiene {{ comment_count }} comentarios.</p>
                    {% render_comment_list for object %}
                    Haz tu comentario:
                    {% if user.is_authenticated %}
                        {% render_comment_form for object %}
                    {% else %}
                        <p>Por favor <a href="{% url 'auth_login' %}">autetíquese</a> para dejar un comentario.</p>
                    {% endif %}
                </div>
			</div>
		</div>
	</div>
</section>
{% endblock %}

