<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
	{% load static from staticfiles %}
	{% load url from future %}
	{% block meta %}
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="description" content="Plataforma de anuncios en radios del Ecuador">
		<meta name="viewport" content="width=device-width">
	{% endblock meta %}

	<title>Anuncia en Radios - {% block title %}{% endblock title %}</title>
	
	{% block styles %}
		<link rel="stylesheet" type="text/css" href="{% static 'css/foundation.css' %}" media="screen" />
		<link rel="stylesheet" type="text/css" href="{% static 'css/screen.css' %}" media="screen" />
	{% endblock %}

		<script src="{% static 'js/jquery-1.6.1.min.js' %}"></script>
		
		<script src="{% static 'website/js/modernizr.foundation.js' %}"></script>
		<script src="{% static 'website/js/jquery.placeholder.js' %}"></script>
		<script src="{% static 'js/foundation.min.js' %}"></script>
		<script src="{% static 'js/app.js' %}"></script>
	{% block head-scripts %}
	
	{% endblock %}

	{% block head %}
	{% endblock %}	
</head>
<body class="{% block body_classes %}{% endblock %}">
  {# Preguntar a usuarios de IE6 que ionstalen Chrome frame. #}
  <!--[if lt IE 7]><p class=chromeframe>Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p><![endif]-->
  	<nav class="top-bar">
  		<ul class="right">
  				{% if request.user.is_authenticated %}
					<li><p>Bienvenido {% filter force_escape %}{% firstof user.first_name user.username user.get_short_name user.get_username %} {% firstof user.last_name %}{% endfilter %}<a class="alert button small" href="/registro/logout/">Salir</a></p></li>
				{% else %}
		  			<li><a class="alert button" href="/registro/login/">Iniciar sesión</a></li>
					<li><a class="alert button" href="/registro/register/">Registrarse aquí</a></li>	
    			{% endif %}
  		</ul>
  	</nav>
	<header id="navigation">
			{% block header %}
				<div class="row headline-down">
					<div class="five mobile-eight columns">
						<a href="{% url 'website_index' %}"><h2>Anuncia en Radios</h2></a>
					</div>
<!-- 					<div class="five columns"> -->
<!-- 						<h5>Llámenos</h5> -->
<!-- 						<h3>(+593) 02 2482858 <span>(Opción 2)</span></h3> -->
<!-- 						<p>Estaremos gustosos de ayudarle con su promoción radial!</p> -->
<!-- 					</div> -->
					
					<div class="seven mobile-four columns">
						<ul class="tabs navBar">
					    	{% url 'website_index' as url %}{% with text="Inicio" %}{% include "_nav.html" %}{% endwith %}
					    	
					    	{% url 'haystack_search' as url %}{% with text="Estaciones de radio" %}{% include "_nav.html" %}{% endwith %}
					    	
					    	{% if request.user.is_authenticated %}
					    		{% with url="/ordenes/" text="Mis órdenes" %}{% include "_nav.html" %}{% endwith %}
					    	{% endif %}
					        <li class="item">
					            <a href="{% static 'pdfs/informacion.pdf' %}">Información</a>
					        </li>
							{% with url="/contacto/" text="Contacto" %}{% include "_nav.html" %}{% endwith %}
					    </ul>
					</div>
			{% endblock %}
	</header>

	<section id="mainContent1" class="example">	    
		{% block pre-content %}
		{% endblock %}
		<div class="row">
			{% if messages %}
			<div class="twelve columns"
			<div class="row">
			
		        <!-- Messages for this instance -->
		        {% for message in messages %}
		          <div class="alert-box {{ message.tags }}">
		             {{ message }}
		             <a href="" class="close">&times;</a>
		          </div>
		        {% endfor %}
		    
		    </div>
			</div>
		    {% endif %}
		    
			{% block content %}
			
			{% endblock %}
		</div>
	</section>

	{% block footer %}
		<footer class="footer">
		 <div class="container">
		 <div class="row">
		  <div class="six columns">
	        <p>&copy; 2013  ServiDinamica S.A. Todos los derechos reservados.</p>
	      </div>
	      <div class="six columns">
	        <ul class="inline-list right">
	          <li><a href="{% static 'pdfs/condiciones.pdf' %}">Condiciones y Términos de Uso</a></li>
	          <li><a href="{% static 'pdfs/nosotros.pdf' %}">Sobre Nosotros</a></li>
	          <li><a href="{% url 'contacto' %}">Contáctenos</a></li>
	        </ul>
      	  </div>
      	  </div>
      	  </div>
		</footer>
	{% endblock %}
	
	{% block js-scripts %}	
	{% endblock %}

	{% block foot-scripts %}

	{# Agregar Google Analytics #}
	{% if settings.GOOGLE_ANALYTICS_UA %}
		<script type="text/javascript">
		var gaJsHost = (("https:" == document.location.protocol) ?
		"https://ssl." : "http://www.");
		document.write(unescape("%3Cscript src='" + gaJsHost +
		"google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
		</script>
		<script type="text/javascript">
		try {
		  var pageTracker = _gat._getTracker("{{ settings.GOOGLE_ANALYTICS_UA }}");
		  {% if settings.GOOGLE_ANALYTICS_DOMAIN %}
		  pageTracker._setDomainName(".{{ settings.GOOGLE_ANALYTICS_DOMAIN }}");
		  {% endif %}
		  pageTracker._trackPageview();
		} catch(err) {}
		</script>
	{% endif %}
	
	{% if "MSIE 6" in request.META.HTTP_USER_AGENT or "MSIE 7" in request.META.HTTP_USER_AGENT %}
		{% if not "chromeframe" in request.META.HTTP_USER_AGENT %}
			<script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.2/CFInstall.min.js"></script>
			<script>window.attachEvent("onload",function(){CFInstall.check({mode:"overlay"})})</script>
		{% endif %}
	{% endif %}
	{% endblock %}
	
</body>
</html>