{% extends 'base.html' %}
{% load static from staticfiles %}

{% block title %}Inicio{% endblock %}

{% block content %}
<section>
	<div class="twelve columns">
		<article id="anuncia">
			<h2>Ahorre dinero con AnunciaEnRadio</h2>
			<p>Le ofrecemos los mejores precios para pautar en radio
				y toda la información de las principales radios del país.</p>
			<p>Regístrese y disfrute de grandes ofertas, promociones, cupones de descuento y más.</p>
			<button id="formOpen" type="button">Comience a Anunciar Ahora!</button>
		</article>
	</div>
<section>
{% endblock %}