{% extends 'base.html' %}
{% load static from staticfiles %}
{% load highlight %}
{% block title %}Buscar Radios{% endblock %}

{% block content %}
<section id="estacionesContent" class="buscar">
    <div class="container">
        <div class="row">
            <div class="initial-steps twelve columns">
                <ul class="icons">
                    <li class="testing">Escoja sus Paquetes&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;      </li>
                    <li class="target">Seleccione su Público&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>
                    <li class="early">Anuncie ya!</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="twelve columns">
                    <h3 class="twelve columns">Buscar estaciones de Radio</h3>
                    <form method="get" action=".">
                        <div class="four columns">
                            Filtros para búsqueda
                            <div class="filtro_regiones">
                                <label for="id_text">Regiones:</label>
                                {{ form.regiones }}
                            </div>
                            <div class="filtro_edades_target">
                                <label for="id_text">Rangos de edad:</label>
                                {{ form.edades_target }}
                            </div>
                            <div class="categorias_facet">
                                <dl>
                                    {% if facets.fields.categorias %}
                                        <dt>Categorías</dt>
                                        {% for categoria in facets.fields.categorias %}
                                            <dd><a href="{{ request.get_full_path }}&amp;selected_facets=categorias_exact:{{ categoria.0|urlencode }}">{{ categoria.0 }}</a> ({{ categoria.1 }})</dd>
                                        {% endfor %}
                                    {% else %}
                                        <p>No se encontraron categorías.</p>
                                    {% endif %}
                                </dl>
                            </div>
                        </div>

                        <div class="eight columns">
                            <div class="texto_busqueda">
                                {{ form.non_field_errors }}
                                {{ form.q.errors }}
                                <label for="id_text">Búsqueda de estaciones de radio:</label>
                                {{ form.q }}
                                <input type="submit" value="Buscar">
                            </div>
                        </div>

                        <div class="eight columns">           
                            {% if query %}
                                <h3>Listado de estaciones encontradas</h3>
                                {% for result in page.object_list %}
                                    <div>
                                        <a href="/radios/detalles/{{ result.object.slug }}/">{{ result.object.nombre }}</a>
                                        <p>Nivel socioeconómico: {{ result.object.nivel_socioeconomico }}</p>

                                        {% for text in result.highlighted %}
                                            <blockquote>{% highlight text with query %}</blockquote>
                                        {% endfor %}
                                        <ul>
                                        {% for categoria in result.object.categorias.all %}
                                            <li>{{ categoria }}</li>
                                        {% endfor %}
                                        </ul>
                                        <ul>
                                        {% for cob_frec in result.object.cobertura_frecuencias.all %}
                                            <li>{{ cob_frec.provincia.region }}</li>
                                        {% endfor %}
                                        </ul>
                                    </div>                                    

                                {% empty %}
                                    <p>No se encotraron resultados para la búsqueda realizada.</p>
                                {% endfor %}

                                {% if page.has_previous or page.has_next %}
                                    <div>
                                        {% if page.has_previous %}<a href="?q={{ query }}&amp;page={{ page.previous_page_number }}">{% endif %}&laquo; Anterior{% if page.has_previous %}</a>{% endif %}
                                        |
                                        {% if page.has_next %}<a href="?q={{ query }}&amp;page={{ page.next_page_number }}">{% endif %}Siguiente &raquo;{% if page.has_next %}</a>{% endif %}
                                    </div>
                                {% endif %}
                            {% else %}
                                {# Show some example queries to run, maybe query syntax, something else? #}
                            {% endif %}
                        </div>
                    </form>
                </div>
            </div>
        </div>
</section>
  
{% endblock %}