{% extends 'base.html' %}
{% load static from staticfiles %}
{% load highlight %}
{% block title %}Buscar Radios{% endblock %}
{% load estaciones_tags %}

{% block js-scripts %}
	<script src="//unslider.com/unslider.min.js"></script>
{% endblock %}

{% block content %}
<section id="estacionesContent" class="row">
    <div class="container">
        <div class="twelve columns">
            <div class="initial-steps row">
                <ul class="icons">
                    <li class="four columns testing">Escoja sus Paquetes</li>
                    <li class="four columns target">Seleccione su Público</li>
                    <li class="four columns early">Anuncie ya!</li>
                </ul>
            </div>
        </div>
    </div>
    
    <div class="container">
    	<div class="row">
    		<div class="twelve columns">
    		{% banner_slider %}
    		</div>
    	</div>
    </div>

    <div class="container">
        <div class="row">
            <div class="twelve columns">
                    <h3 class="twelve columns">Buscar estaciones de Radio</h3>
                    <form method="get" action=".">
                        <div class="four columns side">
                            Filtros para búsqueda
                            <div class="filtro_regiones">
                                <label for="id_text">Regiones:</label>
                                {{ form.regiones }}
                            </div>
                            <div class="filtro_edades_target">
                                <label for="id_text">Rangos de edad:</label>
                                {{ form.edades_target }}
                            </div>
                            <div class="filtro_niveles_socioeconomicos">
                                <label for="id_text">Niveles Socioeconómicos:</label>
                                {{ form.niveles_socioeconomicos }}
                            </div>
                            <div class="categorias_facet">
                                <dl>
                                    {% if facets.fields.categorias %}
                                        <dt>Categorías</dt>
                                        {% for categoria in facets.fields.categorias %}
                                            <dd><a href="{{ request.get_full_path }}&amp;selected_facets=categorias_exact:{{ categoria.0|urlencode }}">{{ categoria.0 }}</a> ({{ categoria.1 }})</dd>
                                        {% endfor %}
                                    {% else %}
                                        <p>No se encontraron categorías.</p>
                                    {% endif %}
                                </dl>
                            </div>
                        </div>
						
						
                        <div class="eight columns">
                        <div class="row">
                            <div class="texto_busqueda">
                                {{ form.non_field_errors }}
                                {{ form.q.errors }}
                                <label for="id_text">Filtre las estaciones de radio:</label>
                                {{ form.q }}
                                <button class="search-button" title="Buscar" type="submit"></button>
                            </div>
                        </div>
						<h3>Estaciones:</h3>
                        <div class="twelve columns listing">
                            {% if page.object_list %}
                           
 
                                {% for result in page.object_list %}
                                   <div class="item">
                                    	<div class="info">
										<h3><a href="/radios/detalles/{{ result.object.slug }}/"><img src="{{ result.object.logotipo }}" alt="LOGO"/>{{ result.object.nombre }}</a></h3>
                                        {% for text in result.highlighted %}
                                            <blockquote>{% highlight text with query %}</blockquote>
                                        {% endfor %}
                                        <ul class="tags">
                                        {% for categoria in result.object.categorias.all %}
                                            <li><span>{{ categoria }}</span></li>
                                        {% endfor %}
                                        </ul>
                                        <ul>
                                        {% for cob_frec in result.object.cobertura_frecuencias.all %}
                                            <li>{{ cob_frec.provincia.region }}</li>
                                        {% endfor %}
                                        </ul>
                                        <p>Nivel socioeconómico: {{ result.object.nivel_socioeconomico }}</p>
                                        </div>
                                    </div>                                    

                                {% empty %}
                                    <p>No se encotraron resultados para la búsqueda realizada.</p>
                                {% endfor %}

                                {% if page.has_previous or page.has_next %}
                                    <div>
                                        {% if page.has_previous %}<a href="?q={{ query }}&amp;page={{ page.previous_page_number }}">{% endif %}&laquo; Anterior{% if page.has_previous %}</a>{% endif %}
                                        |
                                        {% if page.has_next %}<a href="?q={{ query }}&amp;page={{ page.next_page_number }}">{% endif %}Siguiente &raquo;{% if page.has_next %}</a>{% endif %}
                                    </div>
                                {% endif %}
                            {% else %}
                            	<p>No se encotraron resultados para la búsqueda realizada.</p>
                                {# Show some example queries to run, maybe query syntax, something else? #}
                            {% endif %}
                        </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
</section>
  
{% endblock %}